@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h2 {
    text-align: left;
} */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
}

nav.button {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    cursor: pointer;
}

button.active {
    background-color: #0B3A7C;
    color: white;
}

main {
    padding: 20px;
}

.content {
    display: none;
    min-height: 300px; /* Menyediakan panjang minimal */
    padding: 20px;
}

.content.active {
    display: block;
    text-align: left;
}

.content p {
    margin-bottom: 10px;
}

.profile-content {
    display: flex;
    align-items: top; /* Posisi vertikal tengah */
}

.profile-text {
    flex: 1; /* Membuat teks mengambil ruang tersisa */
    text-align: justify;
}

.profile-text h2{
    margin-bottom: 20px; /* Membuat teks mengambil ruang tersisa */
}

.profile-image {
    flex-shrink: 0; /* Gambar tidak akan mengecil */
    margin-left: 20px; /* Jarak antara teks dan gambar */
}

.profile-image img {
    max-width: 100%; /* Gambar tidak melebihi lebar parent */
    height: auto; /* Tinggi gambar menyesuaikan proporsi */
}

.all-news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Menampilkan tiga berita per baris */
    gap: 20px; /* Jarak antara berita */
}

.all-news-list .news-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.all-news-list .news-image {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.all-news-list .news-content {
    background-color: rgba(11, 58, 124, 0.7); /* Warna biru dengan tingkat transparansi */
    color: #fff; /* Warna teks */
    padding: 20px;
    box-sizing: border-box;
    flex: 1; /* Memenuhi sisa ruang di dalam kontainer flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Menempatkan judul dan meta di bagian bawah */
}

.all-news-list .news-content h3 {
    margin-bottom: 10px;
    font-size: 1em; /* Ukuran font judul berita kecil */
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0B3A7C, #3C93FC);
    color: white;
    padding: 6px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    cursor: pointer;
}

.logo-img-profile {
    height: 40px;
    cursor: pointer;
    border-radius: 50% ;
}

.main-body {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}

/* NEWS */
.news-wrapper {
    padding: 120px;
}

.news-section {
    display: flex;
    gap: 20px;
}

.news-main {
    flex: 3;
}

.news-sidebar {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.news-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.news-item.large {
    flex: 1;
}

.news-item.small {
    flex: 1;
}

.news-image {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(11, 58, 124, 0.7); /* Warna biru dengan tingkat transparansi */
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.news-content h3 {
    margin-bottom: 10px;
}

.news-meta {
    font-size: 0.7em;
    margin-bottom: 10px;
}

.news-summary {
    font-size: 0.7em;
    text-align: justify;
}

.news-summary a {
    color: #fff;
    text-decoration: none;
}

.news-summary a:hover {
    text-decoration: underline;
}

/* MEDIA */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.media-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 300px;
}

header h1 {
    text-align: left;
    margin-bottom: 40px;
}

.highlight-section {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.highlight-text {
    padding: 10px;
    display: flex; flex-direction: column; justify-content: center;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    position: absolute;
    left: 0;
}

.right-arrow {
    position: absolute;
    right: 0;
}

.highlight-content {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.highlight-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: none;
    flex-direction: column;
    align-items: center;
}

.highlight-item.active {
    display: flex;
}

.highlight-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.highlight-caption {
    text-align: center;
    margin-top: 10px;
}

.gallery-section {
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* EVENT */

.event-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2{
    margin: 40px;
}

.event {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.event-details {
    flex: 1;
    text-align: left;
}

.event-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.event-details p {
    margin: 10px 0 0 0;
}

.register-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #0B3A7C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #095bb5;
}

.history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.history-item {
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 200px; 
}

.history-item img {
    width: 100%;
    height: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.history-item h3 {
    margin: 10px;
    font-size: 1.2em;
}

.history-item p {
    margin: 0 10px 10px;
}

/* FOOTER */
.footer {
    position: relative;
    background-color: #f1f1f1;
}

.footer-image {
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    color: #0B3A7C;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 300px;
    margin-top: 10px;
}

.footer-bottom {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.footer-bottom p {
    margin: 0;
    color: #333;
    font-size: 0.7em;
    font-weight: bold;
}


/* Sidebar styles */
.sidebar {
    height: calc(100% - 60px);
    width: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 32px;
    color: gray;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.nav-icon {
    height: 24px;
    width: auto;
    margin-right: 10px;
}

.sidebar-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin: 0 auto;
}

.sidebar-nav li {
    margin: 20px 0;
}

.sidebar-nav a {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: smaller;
    padding: 15px 20px;
    margin: 0 10px;
}

.sidebar-nav a img {
    height: 20px; /* Set the height of the icon */
    width: auto; /* Ensure the width adjusts automatically */
    margin-right: 20px; /* Add some space between the icon and text */
}

.sidebar-nav a.active {
    background-color: #3C93FC;
    color: white;
    border-radius: 20px;
    padding: 20px 20px;
}



/* Login page styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../assets/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.login-box {
    background-color: #E4F0FF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-logo {
    height: 150px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0B3A7C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #3C93FC;
}

.login-box p {
    margin-top: 20px;
    color: #333;
}

.login-box a {
    color: #0B3A7C;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}



/* Register page styles */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../assets/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.register-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    height: 90vh;
}

.register-header {
    background-color: #0B3A7C;
    color: white;
    padding: 40px;
    width: 40%;
    overflow-y: auto;
}

.register-logo {
    height: 200px;
    margin-bottom: 30px;
}

.register-header h2 {
    font-size: 2.5em;
    text-align: left;
}

.register-form {
    padding: 40px;
    width: 60%;
    overflow-y: auto;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #0B3A7C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.register-btn:hover {
    background-color: #3C93FC;
}

.register-form label {
    align-items: left;
}

.register-form p {
    align-items: left;
}

.justify-text {
    text-align: justify;
    margin: 20px 0;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-input {
    width: auto;
    flex: 1;
}

.small-text {
    font-size: 0.8em;
}

.bold-text {
    font-weight: bold;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}


/* Fitur page styles */
.fitur-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: white;
    background-size: cover;
    padding: 30px;
}

.fitur-box {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    height: auto;
}

.fitur-header {
    background-color: #0B3A7C;
    color: white;
    padding: 40px;
    width: 30%;
    overflow-y: auto;
}

.fitur-logo {
    height: 200px;
    margin-bottom: 50px;
}

.fitur-header h2 {
    font-size: 2.5em;
    text-align: left;
}

.fitur-form {
    padding: 50px;
    width: 80%;
}

.fitur-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fitur-btn {
    width: 100%;
    padding: 10px;
    background-color: #0B3A7C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.fitur-btn:hover {
    background-color: #3C93FC;
}

.fitur-form label {
    display: block;
    text-align: left;
    margin-right: 50px;
}

.fitur-form p {
    align-items: left;
}

.fitur-radio-group {
    display: flex;
    gap: 15px;
    margin: 20px 10px 50px;
}


/* Data page styles */
.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: white;
    height: auto;
    margin-top: 70px;
}

.data-box {
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0;
}

.data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B3A7C; /* Use the same blue color */
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.data-logo {
    height: 150px;
    margin-right: 50px;
}

.data-header h2 {
    color: white; /* Ensure the header text is white */
    margin-left: 20px;
    font-size: 2em;
}

.data-content {
    overflow-x: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0B3A7C;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}


/* Profile page styles */
.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: white;
    height: auto;
    margin-top: 70px;
}

.profil-box {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background-color: #E4F0FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.profil-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B3A7C;
    color: white;
    padding: 20px;
    width: 250px; 
}

.profil-logo {
    height: 150px;
    margin-bottom: 20px;
}

.profil-header h2 {
    color: white;
    margin: 0;
    text-align: center;
}

.profil-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.profil-nav li {
    margin: 20px 0;
}

.profil-nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: smaller;
}

.profil-nav a img {
    height: 20px;
    width: auto;
    margin-right: 20px; 
}

.profil-nav a:hover {
    text-decoration: underline;
}

.profil-content {
    flex: 1;
    padding: 20px;
}

.profil-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.profil-info-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.profil-info-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.profil-picture img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profil-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    flex: 1; /* Allow it to take available space */
    gap: 20px;
}

.profil-details-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.profil-contact {
    display: flex;
    justify-content: left;
    width: 100%;
}

.profil-contact-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust spacing between contact items */
}

.profil-contact-item p {
    margin: 0; /* Remove margin for contact item details */
}

.profil-icons {
    display: flex;
    gap: 10px; /* Adjust gap between icons */
}

.profil-icons .icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.profil-info {
    display: flex;
    flex-direction: column;
}

.profil-info p {
    margin: 5px 0;
}

/* Horizontal layout for the second and third containers */
.profil-info-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Add gap between items */
    padding-top: 30px; /* Add space between the title and the content */
}

.profil-info-item {
    margin-right: 20px;
}

.profil-info-item:last-child {
    margin-right: 0;
}

.profil-info-horizontal p {
    margin: 5px 0;
}

.profil-info-horizontal label {
    margin: 5px 0;
}

.profil-details p {
    margin: 5px 0;
}

.profil-contact-item {
    margin-right: 40px;
}

.profil-contact-item:last-child {
    margin-right: 0;
}

.ubah-button {
    background-color: #0B3A7C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* Add some margin to align with other items */
}

.ubah-button:hover {
    background-color: #092b60;
}

.profil-button-container {
    margin-left: auto;
}


/* General container styles */
.anggota-header {
    background-color: #0B3A7C;
    color: white;
    padding: 20px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-box {
    background-color: #E4F0FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}

.stat-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-text h3 {
    margin: 0;
    font-size: 0.9em;
    color: #0B3A7C;
}

.stat-text p {
    margin: 5px 0 0;
    font-size: 2em;
    color: #0B3A7C;
}

.stat-icon img {
    width: 50px;
    height: 50px;
}

.filter-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding-top: 20px;
}

.filter-form label {
    margin-right: 10px;
}

.filter-input {
    margin: 0 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #0B3A7C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #3C93FC;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.anggota-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.anggota-table th,
.anggota-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.anggota-table th {
    background-color: #0B3A7C;
    color: white;
}

.anggota-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.anggota-table tr:hover {
    background-color: #ddd;
}


/* STYLE KARTU */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    background-color: white;
    height: auto;
    margin-top: 100px;
}

.card-box {
    display: flex;
    width: 550px;
    height: 290px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 300px;
    left: 620px;
}

.card-number {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 330px;
    left: 620px;
}

.alert {
    margin: 20px;
    text-align: center;
    font-size: 1em;
    color: red;
}

.dis a {
    color:#E4F0FF;
}